<template>
  <v-ons-page>
    <v-ons-toolbar class="home-toolbar">
      <!-- <div class="left">
        <v-ons-toolbar-button @click="$emit('toggleMenu')">
          <v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
        </v-ons-toolbar-button>
      </div> -->
      <div class="center">{{ msg }}</div>
    </v-ons-toolbar>

    <div id="hero">
      <h1 class="center">
        Recipes
      </h1>
    </div>

    <v-ons-card class="cards" v-for="data in recepieDataSet" :key="recepieDataSet.id" v-bind:value="data.title" @click="pushToRecipieDetail(data)">
      <img :src="data.pic" alt="Onsen UI" style="width: 100%">
      <div class="title">
        {{data.title}}
      </div>
      <div class="content">
        Published on {{data.datePublished}}
      </div>
    </v-ons-card>
  

  </v-ons-page>
</template>

<script>
import RecipeDetail from './RecipeDetail.vue'
import Recipies from '../data/Recipies.json'

export default {
  props: ['pageStack'],
  name: 'home',
  data () {
    return {
      msg: 'Welcome',
      recepieDataSet: null
    }
  },
  methods: {
    goTo (url) {
      window.open(url, '_blank')
    },
    getRecepies: function () {
      this.recepieDataSet = Recipies.data.reverse()
    },
    pushToRecipieDetail: function (data) {
      // alert()
      console.log('pushed')
      // this.$emit('push-page', {
      //   extends: RecipeDetail,
      //   onsNavigatorProps: {
      //     recipeDetails: data
      //   }
      // })
      this.pageStack.push({
        extends: RecipeDetail,
        onsNavigatorProps: {
          recipeDetails: data
        }
      })
    }
  },
  created () {
    this.getRecepies()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="stylus" scoped>
.header 
  text-align center

#hero
  text-align center 
  background white
  padding 1em
  margin 1em 0

.card
  padding: 0px
  .img
    margin 0
  &__title
    // padidng 1.2em
    // margin 0.5em
    background-color transparent
    padding 0px 16px
  &__content
    padding 0px 16px 8px 16px

ons-list-item, ons-card
  cursor pointer

</style>
