<template id="RecipeDetail">
  <v-ons-page> 
    <v-ons-toolbar>
      <div class="left">
        <v-ons-back-button></v-ons-back-button>
      </div>
      <div class="center">{{title}}</div>
    </v-ons-toolbar>
    
    <!-- <div id="descriptionOfRecipe">
      <parallax>
      <img :src="picSrc">
      </parallax>
      <div id="recDescription">
        <p>
          {{recDescription}}
        </p>
      </div>
      <v-ons-card class="" v-for="data in recipeSteps" :key="recipeSteps.id">
        <div class="title">
          {{data.title}}
        </div>
        <div class="content">
          {{data.description}}
        </div>
      </v-ons-card>
    </div> -->
  </v-ons-page>
</template>

<script>
import Parallax from 'vue-parallaxy'

export default {
  template: 'RecipeDetail',
  key: 'RecipeDetail',
  name: 'RecipeDetail',
  props: [
    'recipeDetails'
  ],
  data: function () {
    return {
      title: this.recipesDetails.title
      // recDescription: this.recipesDetails.description,
      // picSrc: this.recipesDetails.pic,
      // recipeSteps: this.recipesDetails.steps
    }
  },
  components: {
    Parallax
  },
  computed: {
    // title: function () {
    //   return 'mytitle'
    // }
  }
}
</script>

<style lang="stylus" scoped>
#descriptionOfRecipe
  text-align center
  img
    // position absolute
    // padding 1em
    min-height 200px
    max-height 400px
    background-color red
    width 100%
  #recDescription
    background-color white
    padding 1.2em
    text-align left
    // border-bottom 1px black solid

</style>
