<template>
  <v-ons-page id="app">
    <!-- <v-ons-navigator swipeable
    :page-stack="pageStack"
    @push-page="pageStack.push($event)"
    > -->

    </v-ons-navigator>

    <!-- Currently there is an issue with tabbar -->
    <v-ons-tabbar position="auto"
    :tabs="tabs"
    :index.sync="tabIndex"
    >
    </v-ons-tabbar>
    
    

  </v-ons-page>
</template>




<script>
import HomePage from './components/HomePage'

export default {
  name: 'app',
  data () {
    return {
      menuIsOpen: false,
      pageStack: [
        HomePage
      ],
      tabIndex: 0,
      tabs: [
        {
          icon: this.md() ? null : 'ion-home',
          label: 'Home',
          page: HomePage,
          props: {
            myProp: 'This is a page prop!'
          },
          key: 'HomePage'
        },
        {
          icon: this.md() ? null : 'ion-home',
          label: 'Err',
          page: HomePage,
          props: {
            myProp: 'This is a page prop!'
          },
          key: 'HomePage'
        },
        // {
        //   icon: this.md() ? null : 'ion-ios-bell',
        //   label: 'News',
        //   page: HomePage,
        //   // badge: 7,
        //   key: "HomePage"
        // },
        // {
        //   icon: this.md() ? null : 'ion-ios-settings',
        //   label: 'Settings',
        //   page: settingsPage,
        //   key: "settingsPage"
        // }
      ]
    }
  },
  methods: {
    md () {
      return this.$ons.platform.isAndroid()
    }
  },
  components: {
    HomePage
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="stylus" scoped>
.page
  &__background
    background-color white
ons-splitter-side[side=left][animation=overlay] {
  border-right: 1px solid #BBB;
}
</style>
