<template>
<v-ons-page>
<!-- <v-ons-navigator id="app" swipeable :page-stack="pageStack" :options="options">
  <component v-for="page in pageStack" :is="page"
    :page-stack="pageStack"
    :set-options="setOptions"
    :key="page.key"
  ></component>
</v-ons-navigator> -->
<app-tabbar
  :page-stack="pageStack"
  :set-options="setOptions"
  :set-index="setIndex"
  ></app-tabbar>
</v-ons-page>
</template>


<script>
import AppTabbar from './AppTabbar.vue'

export default {
  data () {
    return {
      pageStack: [AppTabbar],
      options: {},
      tabbarIndex: 0
    }
  },
  methods: {
    setOptions: function (newOptions) {
      this.options = newOptions
    },
    setIndex: function (newValue) {
      if (newValue !== undefined) {
        this.tabbarIndex = newValue
      }
      return this.tabbarIndex
    }
  },
  components: { AppTabbar }
}
</script>
