<template>
  <v-ons-page>
    <!-- <custom-toolbar>
      {{ title }}
      <v-ons-toolbar-button slot="right" @click="toggleMenu()">
        <v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
      </v-ons-toolbar-button>
    </custom-toolbar> -->

    <v-ons-tabbar position="auto"
      :tabs="tabs"
      :index.sync="index"
    ></v-ons-tabbar>
  </v-ons-page>
</template>

<script>
import HomePage from './components/HomePage.vue'

export default {
  props: ['pageStack', 'setOptions', 'toggleMenu', 'setIndex'],
  data () {
    return {
      tabs: [
        {
          label: 'Home',
          icon: this.md() ? null : 'ion-home',
          page: HomePage,
          props: { pageStack: this.pageStack }
        }
      ]
    }
  },
  methods: {
    md () {
      return this.$ons.platform.isAndroid()
    }
  },
  computed: {
    title () {
      return this.md() ? 'Kitchen Sink' : this.tabs[this.index].label
    },
    index: {
      get () {
        var vm = this
        return vm.setIndex() // Without args returns the current index
      },
      set (index) {
        var vm = this
        vm.setIndex(index)
      }
    }
  }
}
</script>
